<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eataholic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.woff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplaySignServlet</servlet-name>
    <servlet-class>com.eataholic.controller.DisplaySignServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySignServlet</servlet-name>
    <url-pattern>/sign-in</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayPublishServlet</servlet-name>
    <servlet-class>com.eataholic.controller.DisplayPublishServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPublishServlet</servlet-name>
    <url-pattern>/publish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.eataholic.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishServlet</servlet-name>
    <servlet-class>com.eataholic.controller.PublishServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishServlet</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadArticleServlet</servlet-name>
    <servlet-class>com.eataholic.controller.ReadArticleServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadArticleServlet</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.eataholic.controller.UserServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemarkServlet</servlet-name>
    <servlet-class>com.eataholic.controller.RemarkServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AnecdoteServlet</servlet-name>
    <servlet-class>com.eataholic.controller.AnecdoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnecdoteServlet</servlet-name>
    <url-pattern>/anecdote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecipeServlet</servlet-name>
    <servlet-class>com.eataholic.controller.RecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeServlet</servlet-name>
    <url-pattern>/recipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>com.eataholic.controller.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>com.eataholic.controller.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.eataholic.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.eataholic.controller.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
</web-app>